.bt{
    margin: 0.6rem;
    font-family: Arial, Helvetica, sans-serif;

}


.c1{
    background-color: aqua;
}

.c2{
    background-color: blue;
}

.c3{
    background-color: aquamarine;
}

.c4{
    background-color: cadetblue;
}
.c5{
    background-color: rgb(0, 77, 80);
}