.conteinerHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 95vh;
    max-width: 124rem;
    width: 100%;
}
.conteinerLista {
    border: 0.2rem solid #f00;
    height: 45vh;
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    overflow-y:auto;
    display: flex;
    flex-direction: column;
}